version: "3.9"
services:

  api-gateway:
    build: 
      context: ..
      dockerfile: backend/api-gateway/Dockerfile
    ports: ["4000:4000"]
    environment:
      - AUTH_SERVICE_URL=http://auth-service:3001
      - BOOKING_SERVICE_URL=http://booking-service:3002
      - RIDER_SERVICE_URL=http://rider-service:3003
      - AGENT_SERVICE_URL=http://agent-service:3004
      - PAYMENT_SERVICE_URL=http://payment-service:3005
      - DISPATCH_URL=http://ai-dispatch:8000

  auth-service:
    build: 
      context: ..
      dockerfile: backend/auth-service/Dockerfile
    ports: ["3001:3001"]
    env_file: ../backend/auth-service/.env

  booking-service:
    build: 
      context: ..
      dockerfile: backend/booking-service/Dockerfile
    ports: ["3002:3002"]
    env_file: ../backend/booking-service/.env

  ai-dispatch:
    build: 
      context: ..
      dockerfile: backend/ai-dispatch/Dockerfile
    ports: ["8000:8000"]
    env_file: ../backend/ai-dispatch/.env
